@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@1,6..72,200&family=Quicksand:wght@300&family=Sofia+Sans+Extra+Condensed:ital,wght@0,400;1,100&family=Stick+No+Bills:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: darkslategrey;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.container {
    width: 1100px;
    margin: 0 0 0 auto;
    /*border: 1px solid wheat;*/
    padding: 20px; 
}